{% extends "base.html" %}
{% block content %}
    <div class="d-flex position-relative">


        <div class="alert alert-success w-25 p-3 position-absolute top-12 start-50 mt-1" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>You have been selected to make a working prototype for the new cooking bootcamp of the Jean-Pierre Coffe
                Academy ("In Coffe we trust"), a 7-months intensive cooking training with some of the best chefs around
                the
                world.

                One part of the training consists of a daily activity called "The Recette", each day at 1:30PM a learner
                choses one of his favorite recipe and shares it with the rest of the class.</p>
            <hr>
            <p class="mb-0">Enjoy to the coffee ;)</p>
        </div>
    </div>
{% endblock %}