{% extends "base.html" %}

{% block content %}
    <form class="register-form">
        <input type="text" class="register-firstName" name="firstName" placeholder="First Name">
        <input type="text" class="register-lastName" name="lastName" placeholder="Last Name">
        <input type="email" class="register-email" name="email" placeholder="Email">
        <input type="password" class="register-password" name="password" placeholder="Password">
        <input type="checkbox" class="register-admin" name="admin">
        <label for="admin">You are Chef ?</label>
        <button type="submit" class="register-submit">Register</button>
    </form>
{% endblock %}