{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h2 class="text-capitalize">Hey {{ user }} ! You are connected, so you can all users in this school</h2>

        <div class="container">

            {% for i in users %}

                <div class="card " style="width: 18rem;">
                    <img src="/{{ i.profil_pic }}/" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.username }}</h5>
                        <hr>
                        <p class="card-text">Name: {{ i.first_name }} {{ i.last_name }} <br>Email: {{ i.email }}</p>
                        <a href="{{ i.id }}/" class="btn btn-info">
                            View Profile
                        </a>

                    </div>
                </div>

                {#            <h1>{{ i.username }}</h1>#}

            {% endfor %}

        </div>
    {% endif %}
{% endblock %}