{% extends "base.html" %}

{% block head_title %}
    DELETE Recipe
{% endblock %}
{% block content %}
    <h1>All recipes</h1>
    <p>{{ recipe.title }}</p>
    <p>{{ recipe.author_id.username }}</p>
    {% if user.id == recipe.author_id_id or user.is_superuser %}
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn-delete-recipe" name="recipe-id" value="{{ recipe.id }}">Delete</button>
        </form>
    {% endif %}
{% endblock %}