{% extends "base.html" %}
{% block content %}

    {% for r in recipe_list %}
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ r.title }}</h5>
                <p class="card-text">Presented by <strong>{{ r.author_id.username }}</strong>, {{ r.preview_at }}</p>
                {% if user.id == r.author_id_id or user.is_superuser %}
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="recipe-id" value="{{ r.id }}">
                            Delete
                        </button>
                        <a href="{{ r.id }}/edit" class="btn btn-warning">
                            Edit
                        </a>
                    </form>
                {% endif %}
            </div>
        </div>



    {% endfor %}
{% endblock %}